{
    ram  =>'/home/ff/projects/DontBeADick/ram',
    disk=>'/home/ff/projects/DontBeADick/disk',
    board=>['ff@osaa.dk', 'brix@osaa.dk', 'paulbendixen@gmail.com','jacob@rotand.dk', 'mihtjel@mihtjel.dk'],
    quorum=>3,
    ssss=>'/home/ff/projects/ssss-0.5',
    gpgpass=>'passphrase-of-the-gpg-key',
}
